<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        <title>{% block title %}Time Complexity{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <header>
            <h1>Time Complexity Visualizer</h1>
            <p>visualize different algorithms and their time complexities</p>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Created for learning purposes. Uses python flask, html, CSS, and JS</p>
            <p><i>Created by Kenneth Dotzler. ChatGPT was used for some code structure, debugging,  
                and overall assistance.</i></p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>