{% extends "base.html" %}
{% block title%}Time Complexity{% endblock %}
{% block content %}
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4">
            <section class="controls">
                <label for="complex" class="block text-gray-700 mb-2 font-medium">Select a Time Complexity</label>
                <select id="complex" class="w-full border border-gray-300 rounded-md p-2"></select>
            </section>

            <section class="info bg-white shadow-md rounded-lg p-4">
                <h2 id="complexName" class="text-2xl font-bold mb-2">Complexity</h2>
                <h4 id="complexTime" class="text-gray-700 mb-4">Time Complexity: <strong>N/A</strong></h4>
                <p id="complexDescription" class="text-gray-600">No Time Complexity selected</p>
            </section>
        </div>

        <section class="mt-4 flex justify-center">
            <canvas id="complexChart" class="w-full max-w-2xl max-h-96 rounded-lg shadow-lg"></canvas>
        </section>
        
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}